apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.global.appName }}-frontend
  labels:
    app.kubernetes.io/name: {{ .Values.global.appName }}-frontend
    app.kubernetes.io/part-of: {{ .Values.global.appName }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Values.global.appName }}-frontend
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Values.global.appName }}-frontend
        app.kubernetes.io/part-of: {{ .Values.global.appName }}
    spec:
      containers:
        - name: frontend
          image: {{ printf "%s/frontend:%s" .Values.global.image.registry .Values.global.image.tag }}
          ports:
            - containerPort: 80
          volumeMounts:
            - name: config
              mountPath: /usr/share/nginx/html/app-config.js
              subPath: app-config.js
          resources: {{- toYaml .Values.resources | nindent 12 }}
          readinessProbe:
            httpGet:
              path: /healthz
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 30
      volumes:
        - name: config
          configMap:
            name: {{ .Values.global.appName }}-frontend-config
